<h1>login</h1>
<div class="auth-container">
    <form action="/login" method="POST" class="form">
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Digite seu email.." required="true">
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Digite sua senha" required="true">
        </div>
        <button type="submit" class="submit-button">Entrar</button>
    </form>
</div>