<div class="createComment-container">
    <a href="dashboard" class="button-return-dashboard">voltar</a>
    <h1>Criando comentário</h1>
    <form action="/comments/add" method="POST" class="form-create">
        <label for="title">Comentário</label>
        <input type="text" name="title" placeholder="Escreva um comentário sobre cs.." required="true">
        <button type="submit" class="button-create">comentar</button>
    </form>
</div>